/* Write your CSS here */
.app-container {
  width: 80%;
  margin: auto;
}

.app-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-journey-heading {
  font-size: 22px;
  color: #1e293b;
}

.ccbp-heading {
  font-size: 30px;
  margin: 0;
  color: #171f46;
  margin-bottom: 10px;
}
